<div class="sidebar_search sidebar-padd mar-1">
        <form action="#">
            <input type="text" id="deger" placeholder="Ara....">
            @*<a  class="tran3s color1_bg" href="/ara/Index?q="deger>ara</a>*@
            <button class="tran3s color1_bg"><i class="fa fa-search" aria-hidden="true"></i></button>
        </form>
    </div>
